@font-face {
    font-family: 'Chalktastic';
    src: url(fonts/chalktastic-font/Chalktastic-r78L.ttf);
}

* {
    font-family: 'Chalktastic';
    color: beige;
}

body {
    background-image: url(images/depositphotos_64612339-stock-photo-blackboard-chalkboard-texture-empty-blank.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container-horizontal {
    display: flex;
    justify-content: space-evenly;
}

.flex-container-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-page {
    display: block;
}

.black-chalkboard {
    background-image: url(images/black-chalkboard.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10% 0;
    margin: 0 21%;
}

h1 {
    font-size: 3em;
    text-align: center;
    vertical-align: middle;
    line-height: 10rem;
    height: 10rem;
}

h2 {
    font-size: 2em;
    text-align: center;
}

input {
    border: solid 2px beige;
    background-color: black;
}

#name-input {
    height: 20px;
    margin: 2% 10%;
}

button {
    border: solid 2px beige;
    background-color: black;
    width: 50%;
    font-size: 1.5rem;
}

.player-input-container {
    display: flex;
    flex-direction: column;
}

.card-picker {
    display: flex;
    justify-content: space-evenly;
}

.radio-label {
    margin-left: -5%;
}

.hidden {
    display: none;
}

.player-board {
    background-image: url(images/cadre-ardoise-murale.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 261px;
    padding: 30px;
}

.player-title {
    border-right:2px solid beige;
    padding-right: 5px;
    margin-right: 5px;
}

.board {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}